/*-------------------------------------------------------*/
.maindiv {
	margin: 0px 20px 0px 20px;
}

.maindiv p {
	text-align: justify;
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
.nuclei3d_divBrowser{
	height: 270px;
	/*width: 800px;*/
	margin: 5px 5px 5px 5px;
	font-family: Verdana;
	font-size: 100%;
	border:1px solid #717171;
	background-color: #F0F0F0;
}
/*-------------------------------------------------------*/
.nuclei3d_divIB{
	margin: 0px 0px 0px 5px;
	font-family: Verdana;
	/*font-size: 0.8em;*/
	background-color: #F0F0F0;

}
/*-------------------------------------------------------*/
.nuclei3d_divSearch{
	border-bottom: 1px solid #717171;
	padding: 2px 2px 5px 2px;	
	background-color: #E4E4E4;
}
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

/*-------------------------------------------------------*/
.nuclei3d_needs_update {
	background-color: #FF9900;
	border-color:#FF0000;
	border-style: solid;
	border-width: 2px;
}

/*-------------------------------------------------------*/
.nuclei3d_image_selector {
	background-color: #EEEEEE;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 1px;
	padding: 0px 10px 10px 10px;
	margin-bottom: 20px;
}

.nuclei3d_button_bar {

}

.nuclei3d_button_bar button {
	background-color: #FFFFFF;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 1px;
	border-bottom-color: #EEEEEE;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-size: 110%;
	font-weight: normal;
	cursor: pointer;	
}

.nuclei3d_button_bar button[disabled=''] {
	background-color: #EEEEEE;
	color:#FF6600;
}


/*-------------------------------------------------------*/
.nuclei3d_parameters {
	background-color: #EEEEEE;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 1px;
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px;
}

.nuclei3d_parameters form {
	margin: 0px 0px 0px 0px;
}

.nuclei3d_parameters label {
	width: 15em;
	display: inline-block;
}

.nuclei3d_parameters p {
	margin: 0px 0px 0.5em 0px;
	border-bottom-color: #BBBBBB;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	padding-bottom: 4px;
}

.nuclei3d_parameters em {
	font-size: 80%;
}

/*-------------------------------------------------------*/
.nuclei3d_warning {
	background-color: #FFCC66;
	border-color: #FF6600;
	border-style: solid;
	border-width: 2px;
	outline-color: #DBFFFF;
	padding: 5px;
	font-weight: bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 90%;
}

/*-------------------------------------------------------*/
.nuclei3d_results {
	background-color: #EEEEEE;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 1px;
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px;
}

.nuclei3d_results_viewer {
	background-color: #666666;
	border-color: #333333;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	margin-top: 10px;
}

/*-------------------------------------------------------*/
.nuclei3d_main {
	margin-right: 320px;
}

/*-------------------------------------------------------*/
.nuclei3d_help {
	float: right;
	width: 280px;
	margin: 0px 0px 10px 10px;
	padding: 0px 10px 10px 10px;
	background-color: #FFFFFF;
	border: #999999 dashed 1px;
}

.nuclei3d_help p {
	text-align: justify;
}
