# mkdocs documentation
/site

\.vscode/

*.pyc
*.class
*.log
*.log.save
*.pid
*.mexa64
*.mexw64
*.mexw32
*.project
*.ctf
*.egg-info*
.eggs
*.egg
*.eggs
runtime-bisque.cfg
build/
data/
config/
bqenv/
doc/build/
doc/data/
external/
debian/tmp/
debian/bisque/
debian/bisque-contrib
debian/bisque-modules
bqcore/parser.out
bqcore/parsetab.*
*.egg-info/
bqcore/*-info

bqcore/bq/core/public/extjs/
bqfeature/bq/src/
parsetab.py

*_mcr/
local-packages/*
pydist/
staging/
admin/
/public

# Javascript & Html
all_css.css
all_js.js
