<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:py="http://genshi.edgewall.org/" 
       xmlns:xi="http://www.w3.org/2001/XInclude"  
     >


<xi:include href="master.html" />

<head>
	<style type="text/css">
		.button{
			
		}
	</style>
</head>

<body>
<div class="maindiv" style="max-width:700px;">

<center><h2>Caution</h2></center>
<div py:if="tg_flash" class="flash" py:content="tg_flash" style="background-color: #FFDDDD;color:#000000" />
<p><a class="button" href="javascript:history.back()">CANCEL</a> or <a class="button" href="/admin/deleteuser/${username}">CONTINUE</a></p>
</div>
</body>
</html>


