<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<link rel="stylesheet" type="text/css" href="/public/admin_service/css/admin.css" />

<head/>

<body>
<div py:match="datasets" />
<div py:match="organizer" />
<div class="maindiv" >
<p><a href="/admin">Back to /admin</a></p>
 
<div class="admin_box">
<h3>Bisque User Visits:</h3> 
<table border="0" class="admin_table" >
   <tr align="left" >
     <th>User</th>
     <th>First </th>
     <th>Last  </th>
     <th>Shortest     </th>
     <th>Longest</th>
   </tr>
   
   <tr py:for="v in visits_stats"> 
     <td><a href="${v['uri']}">${v['user_name']}</a></td>
     <td>${v['first']}</td>
     <td>${v['last']}</td>
     <td>${v['shortest']}</td>
     <td>${v['longest']}</td>
     </tr>
</table> 

</div>
 
</div>
</body>
</html>
