/**************************************************************************/
/*  */
/**************************************************************************/

.toolbar_main {
    background-image: -webkit-linear-gradient(top, rgba(233, 243, 255, 1), rgba(158, 179, 235, 0.92), rgba(119, 168, 226, 0) );
    background-color: transparent;
    border: 0px;
}

.toolbar_main h3 {
  font-size: 190%;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
}

.toolbar_main a {
  color: #000000;
}

.toolbar_main a:hover {
	color: #C60;
}

.x-menu-body .menu-heading {
    padding: 5px 0px 5px 0px;
    font-family: Georgia, serif;
}

.toolbar_main .x-box-menu-right {
    /*height: 32px;  */
}

.toolbar_main .x-btn-default-toolbar-large .x-btn-inner {
    font-size: 12px;
}

