/**************************************************************************/
/*  */
/**************************************************************************/

.toolbar_main {
    background-color: transparent;
    border: 0px;
    background: -moz-linear-gradient(top,  rgba(233,243,255,1) 0%, rgba(136,185,234,0.92) 50%, rgba(119,168,226,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,243,255,1)), color-stop(50%,rgba(136,185,234,0.92)), color-stop(100%,rgba(119,168,226,0)));
    background: -webkit-linear-gradient(top,  rgba(233,243,255,1) 0%,rgba(136,185,234,0.92) 50%,rgba(119,168,226,0) 100%);
    background: -o-linear-gradient(top,  rgba(233,243,255,1) 0%,rgba(136,185,234,0.92) 50%,rgba(119,168,226,0) 100%);
    background: -ms-linear-gradient(top,  rgba(233,243,255,1) 0%,rgba(136,185,234,0.92) 50%,rgba(119,168,226,0) 100%);
    background: linear-gradient(to bottom,  rgba(233,243,255,1) 0%,rgba(136,185,234,0.92) 50%,rgba(119,168,226,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f3ff', endColorstr='#0077a8e2',GradientType=0 );
}

.toolbar_main h3 {
  font-size: 190%;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
}

.toolbar_main a {
  color: #000000;
}

.toolbar_main a:hover {
	color: #C60;
}

.x-menu-body .menu-heading {
    padding: 5px 0px 5px 0px;
    font-family: Georgia, serif;
}

.toolbar_main .x-box-menu-right {
    /*height: 32px;  */
}

.toolbar_main .x-btn-default-toolbar-large .x-btn-inner {
    font-size: 12px;
}

/*******************************************************************/

.loginmenu {
    padding: 5px 10px 5px 10px;   
}

.loginmenu .x-panel-body-default {
    background: transparent;
}
