/**************************************************************************/
/*  */
/**************************************************************************/

.toolbar_main {
  
}

.toolbar_main h3 {
  font-size: 190%;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
}

.toolbar_main a {
  color: #000000;
}

.toolbar_main a:hover {
	color: #C60;
}