/*************************************************************************
  BQ.selectors.Resource
*************************************************************************/

.units label {
    margin: 2px 0px 0px 10px;
}

.parameter {
    margin: 6px 0px 0px 0px;
}

/*
resourcerenderer
*/

.resourcerenderer label {
    margin: 10px 10px 5px 2px;
    padding: 4px 0px 0px 0px; 
    display: block;
    /*float: left;*/   
}

.resourcerenderer .x-toolbar-text {
    display: inline;
    padding: 4px 5px 0px 5px;   
}

.resourcerenderer .bq-image-viewer {
    margin-top: 15px;
}

.resourcerenderer .ImageCompact {
    margin: 0px;
    margin-top: 10px;    
    margin-bottom: 10px;      
}

/*
selectors
*/

.selector .number {
    margin-right: 15px;
}

.renderer {
    margin-top: 15px;    
}

.renderer label {
    font-size: 16px;
    font-family: Georgia, serif;
    font-weight: normal;
    margin: 0px 0px 5px 0px;    
}

.renderer .tagger {
    border: 1px solid #CCCCCC;
}

