/* CSS settings for resource container */
.resource-view-over {
    -moz-box-shadow: 1px 1px 6px 2px #999;
    -webkit-box-shadow: 1px 1px 6px 2px #999;
    box-shadow: 1px 1px 6px 2px #999;
}

.resource-view-selected {
    -moz-box-shadow: 0px 0px 8px 3px hsl(210, 75%, 70%);
    -webkit-box-shadow: 0px 0px 8px 3px hsl(210, 75%, 70%);
    box-shadow: 0px 0px 8px 3px hsl(210, 75%, 70%);
}

.background-transparent {
    background: transparent;
} 

/* ResourceLayout settings: */
.ImageCompact {
    margin: 15px;
    padding: 0px;
    width: 160px;
    height: 160px;
    border: solid 0px #F00;	/* FBFBFB */
}

.ImageCard {
    margin: 10px;
    padding: 2px;
    width: 270px;
    height: 310px;
    background-color: #F9F9F9;
    border: solid 4px #E0E0E0;
}

.ImageFull {
    margin: 10px;
    padding: 5px;
    height: 280px;
    width : 99%;
    background-color: #F9F9F9;
    border: solid 1px #EEE;
}

.ImagePStripSmall {
    margin: 15px;
    padding: 0px;
    width: 160px;
    height: 160px;
    border: solid 1px #EEE;
}

.ImagePStripBig {
    margin: 10px;
    padding: 5px;
    border: solid 1px #EEE;
    background-color: #FAFAFA;
}

.ResourceList {
    margin: 4px;
    height: 34px;
    width : 98%;
    background-color: #F9F9F9;
    border: solid 2px #E0E0E0;
}

.ResourceIconList {
    margin: 4px;
    height: 130px;
    width : 98%;
    background-color: #F9F9F9;
    border: solid 2px #E0E0E0;
}

.LightShadow {
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}
 
.Res-ImgMed {
    border: 3px solid #000;
    padding: 3px;
    height: 175px;
    background-color: #fff;
    width: 210px;
}

.LoadingMask {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
}

.TagStyle {
    font-size: 110%;
    font-weight: bold;
}

.Org-Tools {
    float: right;
    font-weight: normal;
    margin-left: 6px;
}

.Org-Header {
    cursor: move;
}

.Browser-Panel {
    overflow-y: auto;
}

.DS-Tbar {
    border-color: #b9bfc3;
    background-color: #E1E1E8;
    background-image: url("../ResourceBrowser/Images/blank.gif");
}

.DS-Tbar-HLite {
    background-color: #E8F1FA;
}

.x-mask {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

/* fix for overwritten x-mask style */
.x-masked>.x-mask {
    opacity: 0.6;
    background-color: #F0F0F0;
}

.x-mask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px;
    border: 0px;
    background-image: none;
    background-color: #f0f0f0;
}

.x-mask-msg div {
    width: 16px;
    height: 16px;
    padding: 0px;
    background-image: url('../ResourceBrowser/Images/loading.gif');
    background-repeat: no-repeat;
    opacity: 1;
    background-position: 0px center;
    cursor: wait;
    border: 0px;
    background-color: #f0f0f0;
}

/* Align certain buttons left */
.button-alignleft .x-btn-text {
	text-align: left;
}

/* Customized resourceQueue slider */
.sliderBackground .x-slider-horz,.sliderBackground .x-slider-horz .x-slider-end,.sliderBackground .x-slider-horz .x-slider-inner {
	background-image:url('../ResourceBrowser/Images/res-slider-bg.png') !important;
}


.sliderLeftButton .x-slider-horz {
	padding-left:12px;
	background:transparent no-repeat 0 -61px;
}

.sliderRightButton .x-slider-horz .x-slider-end {
	margin-right:-5px;
	background:transparent no-repeat right -61px;
}

.sliderBothButtons .x-slider-horz .x-slider-end {
	margin-right:-10px;
	background:transparent no-repeat right -61px;
}

.sliderBothButtons .x-slider-horz {
	padding-left:12px;
	background:transparent no-repeat 0 -61px;
}

.fieldSet {
	border-left:0;
	border-right:0;
	border-bottom:0;
}

.lblModuleName {
	color: #555;
	/*background:#f4f4f4;*/
	text-shadow: 1px 1px 1px #CCC;
	font-size: 14px;
    font-weight:bold;
    font-family: tahoma, arial, verdana, sans-serif !important;
    padding: 5px;    
}

.compact .lblModuleName {
    padding: 5px;
}

.icon-list .lblModuleName {
    padding: 0px 0px 1px 3px;
}

.lblModuleOwner {
	color: #4B85BF;
	text-shadow: 0px 1px 1px #DDD;
	font-size: 11px;
    font-family: tahoma, arial, verdana, sans-serif !important;
    padding: 5px;    
}

.compact .lblModuleOwner {
    padding: 0px 0px 0px 5px;
}

.icon-list .lblModuleOwner {
    padding: 0px 0px 0px 3px;
}

.lblModuleOwnerFin {
    color: #07AD0C !important;
    text-shadow: 0px 1px 1px #DDD;
    font-size: 11px;
    font-family: tahoma, arial, verdana, sans-serif !important;
}

.lblModuleOwnerFail {
    color: #BF1B1B !important;
    text-shadow: 0px 1px 1px #DDD;
    font-size: 11px;
    font-family: tahoma, arial, verdana, sans-serif !important;
}

.rbFontFamily .lblModuleName .lblModuleOwner{
    font-family: tahoma, arial, verdana, sans-serif !important;
}

.lblModuleDate {
    padding: 8px 8px 8px 5px;
    color: #444;
    font-size: 11px;
    text-align: right;
}

.lblBig {
    color: #BABABA;
    font-size: 36px;
    font-family: tahoma, arial, verdana, sans-serif !important;
}

.compact .lblModuleDate {
    padding: 8px 8px 8px 5px;
}

.list .lblModuleDate {
    padding: 0px 0px 0px 8px;    
    font-family: tahoma, arial, verdana, sans-serif !important;
}

.lblHeading1{
    color: #555;
    background:#f4f4f4;
    text-shadow: 1px 1px 1px #CCC;
    font-weight:bold;
    font-family: tahoma, arial, verdana, sans-serif !important;
    word-wrap: break-word;
    padding: 3px;    
}

.lblHeading2{
    color: #07AD0C;
    background:#f4f4f4;
    text-shadow: 1px 1px 1px #CCC;
    font-family: tahoma, arial, verdana, sans-serif !important;
    word-wrap: break-word;
    padding: 3px;    
}

.lblContent{
    padding: 5px;
    word-wrap: break-word;
}

.textOnImage {
	color: #FFF;
	position:absolute;
	text-shadow: 1px 1px 3px rgba(0,0,0,1);
	margin-top:142px;
	font-size: 10px;
	background-color:rgba(10,10,10,.05);
	font-weight:bold;
	text-align:center;
	z-index:1;
}

.labelOnImage {
    color: #FFF;
    position:absolute;
    text-shadow: 1px 1px 3px rgba(0,0,0,1);
    margin-top:15px;
    padding: 2px 5px 5px 7px;
    font-size: 13px;
    background-color:rgba(10,10,10,.3);
    font-weight:bold;
    z-index:1;
}

.smallLabelOnImage {
    font-size: 9px;
}

.white {
    background-color:#FFF;
}

.align {
    vertical-align: middle;
}

.icon-lightning {
    background-image: url('../ResourceBrowser/Images/lightning.png') !important;
}

.icon-cog {
    background-image: url('../ResourceBrowser/Images/cog.png') !important;
}

.icon-eye {
    background-image: url('../ResourceBrowser/Images/eye.png') !important;
}

.icon-eye-close {
    background-image: url('../ResourceBrowser/Images/eye-close.png') !important;
}

.icon-group {
    background-image: url('../ResourceBrowser/Images/group.png') !important;
}

.x-grid-checkheader {
    height: 14px;
    background-image: url('../ResourceBrowser/Images/unchecked_.gif');
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkheader-checked {
    background-image: url('../ResourceBrowser/Images/checked_.gif');
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}

