/*-------------------------------------------------------
  scrollbars
-------------------------------------------------------*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-track:hover {
    border-radius: 6px;
    background-color: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
    /*background-color: transparent;*/
    /*-webkit-box-shadow: none;*/
    border-radius: 6px;
    background-color: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 6px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
    background-color: rgba(0,0,0,0.4);
}

/*-------------------------------------------------------
  organizer
-------------------------------------------------------*/

.organizer .btn-pressable {
    border-width: 0px;
    border-style: hidden;
    background-image: none;
    background-color: transparent;
}

.organizer .btn-pressable.x-btn-pressed {
    /*border-width: 1px;
    border-style: solid;*/
    background-image: none;
    background-color: #bccfe5;
}

.organizer .icon-tag-name {
    background-image: url('images/organizer_icons.svg') !important;
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: 0px 2px;
}

.organizer .icon-tag-value {
    background-image: url('images/organizer_icons.svg') !important;
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: -18px 2px;
}

.organizer .icon-gob-type {
    background-image: url('images/organizer_icons.svg') !important;
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: 0px -16px;
}

.organizer .icon-gob-name {
    background-image: url('images/organizer_icons.svg') !important;
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: -18px -16px;
}

.organizer .icon-tags {
    background-image: url('images/organizer_icons.svg') !important;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: -0px -52px !important;
}

.organizer .icon-gobs {
    background-image: url('images/organizer_icons.svg') !important;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: -26px -52px !important;
}

.organizer .icon-types {
    background-image: url('images/organizer_icons.svg') !important;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 0px -79px !important;
}

.organizer .icon-names {
    background-image: url('images/organizer_icons.svg') !important;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: -26px -79px !important;
}

.organizer .icon-values {
    background-image: url('images/organizer_icons.svg') !important;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: -52px -79px !important;
}


