<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/admin.css" />	
	
<head/>

<body>
<div py:match="datasets" />
<div py:match="organizer" />
<div class="maindiv" >

  <div style="clear:both; margin: 10px;">
	Back to: <a href="/admin/users">/admin/users</a>
  </div>
	
	<div style="clear:both; margin: 15px;">
   	<a href="mailto:${user.resource_value}">${user.resource_name}</a>:
   	Total images: ${options['totalimages']} |
    <a href="/admin/confirmdeleteimages/${user.resource_name}">Delete all images</a> |
    <a href="/admin/confirmdeleteuser/${user.resource_name}">Delete User</a> |
    <a href="/admin/loginasuser?user=${user.resource_name}">Login as User</a>
	</div>
	
	<div class="user_box" >
  <h3>Edit user details:</h3> 
  <form action="/admin/updateuser" method="post" enctype="application/x-www-form-urlencoded" class="admin_form" >
    <label> User name: ${user.resource_name}</label><br />
    <input type="hidden" name="user_name" id="user_name" value="${user.resource_name}" />
<!--    <label> User password: </label><input type="password" name="user_password" id="user_password" value="${user.password}" /><br /> -->
<!--    <label> Display name: </label><input type="text" name="display_name" id="display_name" value="${user.display_name}" /><br /> -->
    <label> E-mail: </label><input type="text" name="email" id="email" value="${user.resource_value}" /><br />
    <input type="submit" name="button" id="button" value="Submit" />
  </form> 

            





  </div>
	
	<div id="image_list">
			<div py:for="i in images" style="padding:15px; width: 150px; height: 200px; float: left;">
				<a href="/image_service/images/${i.resource_uniq}"><img src="/image_service/images/${i.resource_uniq}?thumbnail" /></a><br />
				${i.ts.strftime(str("%b-%d-%y, %I:%M%p"))}<br />
				<a style="font-size: 12px" href="/admin/deleteimage/${i.id}">Delete Image</a>
			</div>
	</div>
	
	<div id="pages" style="clear:both; margin: 10px;">
			<a py:if="not options['page'] == 1" href="/admin/edituser/${user.resource_name}?page=${options['page']-1}">&lt;Previous&gt;  - </a>
			pg:${options['page']}
			<a py:if="not options['page'] > (options['totalimages']/20 )" href="/admin/edituser/${user.resource_name}?page=${options['page']+1}"> -&lt;Next&gt;</a>
	</div>




	
</div>
</body>
</html>
