<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:py="http://genshi.edgewall.org/" 
       xmlns:xi="http://www.w3.org/2001/XInclude"  
     >


<xi:include href="master.html" />

<head/>

<body>
<div class="maindiv" >

 <ul>
   <li> <a href="/admin/users">User Management</a> </li>
   <li> <a href="/admin/clearcache"> Clear server cache</a></li>
<!--
   <li> <a href="/admin/active_sessions">Session Management</a> </li>
-->
 </ul>

</div>
</body>
</html>


