Source: bisque
Maintainer: center for bioimage <packages@bioimage.ece.ucsb.edu>
Section: python
Priority: extra
Build-Depends: debhelper (>= 9), python-dev, dh-virtualenv (>= 0.8), libsqlite3-dev, libxml2-dev,  libxslt1-dev, libblas3, liblapack3, libhdf5-8, zlib1g, libbz2-1.0, libtiff5-dev, libpq-dev, libc6-dev, libc6-i386, lib32z1
Standards-Version: 3.9.5


Package: bisque
Architecture: amd64
PreDepends: dpkg (>= 1.16.1), python2.7 , ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}, python2.7, libxml2, libxslt1.1, imgcnv, libimgcnv, libopenjpeg5, libopenslide-dev, libsm6, libjpeg62, libtiff5, oracle-j2sdk1.7, libblas3, liblapack3, libhdf5-8, zlib1g, libbz2-1.0, libpq5, uwsgi, uwsgi-plugin-python
Description: Bisque
   Bisque image management and analysis software


#Package: bisque-extra
#Architecture: amd64
#PreDepends: dpkg (>= 1.16.1), python2.7 , ${misc:Pre-Depends}
#Depends: ${python:Depends}, ${misc:Depends}, bisque, libpq5, uwsgi, uwsgi-python
#Description: Bisque
#   Bisque image management and analysis software: advanced package for uwsgi, ngninx, postgres etc
