#!/usr/bin/make -f


# We need an enhanced version of dh_virtualenv (DH_UPRADE_PIP) to contruct bisque https://github.com/kkvilekval/dh-virtualenv
# DH_VERBOSE=1
export DH_UPGRADE_PIP=8.0.3
export DH_UPGRADE_SETUPTOOLS=
export DH_REQUIREMENTS_FILE=requirements-debian.txt

#%:
#	dh $@ --with python-virtualenv

%:
	dh $@ --buildsystem=dh_virtualenv



#override_dh_auto_install:
#	dh_auto_install

#override_dh_auto_test:
#	PYTHONPATH=bqcore/bq:bqserver/bq:bqengine/bq:bqfeature/bq pylint  --rcfile=bqcore/pylint.rc bqcore/bq bqserver/bq bqengine/bq bqfeature/bq

#pylint  --rcfile=bqcore/pylint.rc --load-plugins=bqcore/pylint_error.py
