<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
  "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">

<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" 
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<head>
    <link rel="stylesheet" type="text/css" href="${tg.url('/client_service/public/movieplayer/movieplayer.css')}" />
    <script type="text/javascript" src="${tg.url('/client_service/public/movieplayer/movieplayer.js')}"></script>
</head>


<body>

<h2>Movie player</h2>
 
<div class="navigationcontorls" >
  <!--<p><a onclick="_mp.backToImage();">&laquo; Back to the image</a></p>-->
  <p>Download this video as: 
  [<a onclick="_mp.downloadAs('quicktime');">Apple QuickTime</a>] 
  [<a onclick="_mp.downloadAs('avi');">Microsoft AVI (MPEG4)</a>] 
  [<a onclick="_mp.downloadAs('wmv');">Windows Media Video</a>]   
  [<a onclick="_mp.downloadAs('flv');">Adobe Flash Video</a>] 
  [<a onclick="_mp.downloadAs('mpeg4');">MPEG4</a>]   
  </p>
</div>

<div class="videocontorls" id="videocontrols" >
  Frames per second: <input name="fps" id="fps" type="text" value="30" size="3" maxlength="3" />
  
  Depth: 
  <select name="depthCombo" id="depthCombo" >
    <option selected="selected">All</option>
  </select>  
    
  Time:
  <select name="timeCombo" id="timeCombo"  >
    <option selected="selected">All</option>
  </select> 
   
  <input type="submit" name="update_video" id="update_video" value="Update video" />
</div>

<div id="videoplayer">
  <!--
  <video id="html5video" width="600" height="400" preload="true" controls="true" loop="true" autoplay="true" >
    <source id="video_src_MP4" type='video/mp4' src="http://vidi.ece.ucsb.edu:8080/imgsrv/10%3Fremap%3Ddisplay%26resize%3D600,400,BC,MX%26format%3Dmpeg4,fps,1" />
    <source id="video_src_OGG" type='video/ogg; codecs="theora, vorbis"' src="http://vidi.ece.ucsb.edu:8080/imgsrv/10%3Fremap%3Ddisplay%26resize%3D600,400,BC,MX%26format%3Dogg,fps,1" />
    <source id="video_src_MOV" type='video/quicktime' src="http://vidi.ece.ucsb.edu:8080/imgsrv/10%3Fremap%3Ddisplay%26resize%3D600,400,BC,MX%26format%3Dquicktime" />
    <source id="video_src_WEBM" type='video/webm; codecs="vp8, vorbis"' src="http://vidi.ece.ucsb.edu:8080/imgsrv/10%3Fremap%3Ddisplay%26resize%3D600,400,BC,MX%26format%3Dogg,fps,1" />        
  </video>
  -->
</div>

<script type="text/javascript">
 Ext.onReady ( function () {
    var _mp = new moviePlayer( 'videoplayer', '${resource}', "${tg.url('/client_service/public/movieplayer/flash')}" );
  });
  // html 5 video tag
  //var _mp = new moviePlayer( 'html5video', '${resource}' );  
</script>

<div id="help" class="videohelp" >
<h3>Shortcuts</h3>
<p>
<strong>Space</strong> - Toggle play/pause. <br />
  <strong>Left/Right</strong> - Seek back/forward a certain amount of seconds. <br />
  <strong>.</strong> (dot) - Step advance. This advances the playhead between 1/10 and 2/10 of a second. Not frame advance but somewhere up the same alley. <br />
  <strong>:</strong> (colon) - Slow motion, or continuous step advance. Leave slow motion by pressing any key. Slow motion must be enabled by setting the shortcuts.slowmotion flashvar to 'true'. <br />
  <strong>R</strong> - Restart the video from the beginning. <br />
  <strong>Up/Down</strong> - Increse/decrese volume. <br />
  <strong>M</strong> - Mute/unmute. <br />
  <strong>F</strong> - Enter fullscreen. You can also use the Esc key to toggle fullscreen on/off. <br />
  <strong>N</strong> or <strong>&gt;</strong> - Next item in playlist. <br />
  <strong>P</strong> or  <strong>&lt;</strong> - Previous item in playlist. </p>
</div>

</body>
</html>


