<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">


<xi:include href="master.html" />

<head>
    <title>Welcome</title>
      
    <script type="text/javascript" src="${tg.url('/client_service/public/js/DataExplore.js')}" ></script>

    <link rel="stylesheet" type="text/css" href="${tg.url('/js/carousel/carousel.css')}" />
    <script type="text/javascript" src="${tg.url('/js/carousel/Panel.js')}" ></script>    

    <script type="text/javascript" src="${tg.url('/usage/public/bq_usage_stats.js')}" ></script>
    
    
    <!--<link rel="stylesheet" type="text/css" href="${tg.url('/extjs/resources/css/ext-all-gray.css')}"/>
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/bisquik_extjs_fix.css')}" />-->
    <link rel="stylesheet" type="text/css" href="${tg.url('/client_service/public/css/welcome.css')}" />

<style type="text/css" py:if="thumbnail">
.welcome_front { 
    background-image: url('${thumbnail}=800,600');
    background-size: cover !important;
    background-origin: content-box;
}
</style>

<style py:if="not tg.identity" type="text/css">
.activity {
    width: 490px;
}
</style>

<style py:if="tg.identity" type="text/css">
.activity {
    left: 460px;
}
</style>

<script type="text/javascript">

    function doResize ( comp, id ) {
        setTimeout(function() { 
            var w = document.getElementById(id);
            comp.setSize(w.offsetWidth, w.offsetHeight);
        }, 100);          
    }
    
    Ext.onReady( function() { 
        
        var main = BQApp.getCenterComponent();
        main.body.addCls('welcome_front');
        main.setAutoScroll( false );        
        
        var usage_stats = Ext.create('BQ.usage.Stats', {});   
        var usage_uploads = Ext.create('BQ.usage.Uploads', { height: 120, showAxisTitles: false, });   
        var usage_analysis = Ext.create('BQ.usage.Analysis', {height: 120, showAxisTitles: false, });              

        var usageExplorer = Ext.create('Ext.carousel.Panel', {
            renderTo: 'stats', 
            width: '100%',
            height: 200,            
            items: [ usage_uploads, usage_analysis, usage_stats, ],      
        });
        
    });      

</script>

<script type="text/javascript" py:if="tg.config.get('server.environment', None) == 'development'" > 
    BQ.ui.warning( 'This a test environment, all your data may be lost!' );
</script>


<script py:if="not tg.identity" type="text/javascript" >

    Ext.onReady( function() { 
       
        var moduleBrowser = new Bisque.ResourceBrowser.Browser({
            layout: Bisque.ResourceBrowser.LayoutFactory.LAYOUT_KEYS.ICON_LIST,
            //title: 'Applications',
            viewMode: 'ModuleBrowser',
            dataset: '/module_service',
            wpublic: true,
            border: true,
            selType: 'SINGLE',
            width: 450,        
            //height: 500,          
            renderTo: 'recents',
            cls: 'apps welcome',
            listeners: { 'Select': function(me, resource) { 
                          window.open(bq.url('/module_service/'+resource.name)); 
                       }, 
                       scope: this },          
          
        });
        Ext.EventManager.addListener( window, 'resize', function(e) {
            doResize ( moduleBrowser, "recents" );
        }, this );
        doResize ( moduleBrowser, "recents" );
     
    });
</script>

<script py:if="not tg.identity and welcome_tags" type="text/javascript" >

    Ext.onReady( function() { 
        var tagsExplorer = Ext.create('Ext.carousel.Panel', {
            renderTo: 'tags', 
            width: '100%',
            height: 210,            
        });      
      
       DataExplore("${welcome_tags}", tagsExplorer);
    });
</script>

<script py:if="tg.identity" type="text/javascript" >
    Ext.onReady( function() { 

      var mexBrowser = new Bisque.ResourceBrowser.Browser({
          layout: Bisque.ResourceBrowser.LayoutFactory.LAYOUT_KEYS.LIST,
          title : 'Analysis',
          viewMode : 'MexBrowser',
          dataset : '/data_service/mex',
          tagOrder: '"@ts":desc',
          selType: 'SINGLE',          
          wpublic: ${wpublicjs},
          border: true,
          cls: 'welcome',          
          listeners: { 'Select': function(me, resource) {
                          me.setLoading(true);
                          var nw = window.open('', "_blank");
                          BQFactory.request( {uri: resource.module, cb: function(r) {
                              me.setLoading(false);
                              //window.open( bq.url('/module_service/'+r.name+'/?mex='+resource.uri) );
                              // crazy stuff, can't seem to figure out how to open it in the tab vs new window
                              nw.location = bq.url('/module_service/'+r.name+'/?mex='+resource.uri);
                          }});
                       }, 
                       scope: this },    
      });    
      
      var imgBrowser = new Bisque.ResourceBrowser.Browser({
          title : 'Images',
          tagOrder: '"@ts":desc',          
          selType: 'SINGLE',          
          wpublic: false,
          border: true,
          cls: 'welcome',          
          listeners: { 'Select': function(me, resource) { 
                          window.open(bq.url('/client_service/view?resource='+resource.uri)); 
                       }, 
                       scope: this },    
      });    
      
      var setBrowser = new Bisque.ResourceBrowser.Browser({
          layout: Bisque.ResourceBrowser.LayoutFactory.LAYOUT_KEYS.LIST,
          title: 'Datasets',
          tagOrder: '"@ts":desc',          
          dataset: '/data_service/dataset',
          selType: 'SINGLE',          
          wpublic: false,
          border: true,
          cls: 'welcome',          
          listeners: { 'Select': function(me, resource) { 
                          window.open(bq.url('/client_service/view?resource='+resource.uri)); 
                       }, 
                       scope: this },    
      });        

      var tabs = Ext.create('Ext.tab.Panel', {
          //title : 'My recent activity',
          region : 'east',
          activeTab : 0,
          //border : false,
          //bodyBorder : 0,
          //collapsible : true,
          split : true,
          //width : 450,
          //height : 500, 
          cls: 'apps welcome',
          plain : true,
          border: false,
          //style: 'float: right;',
          renderTo: 'recents',          
          items : [imgBrowser, mexBrowser, setBrowser]
      }); 
            
        Ext.EventManager.addListener( window, 'resize', function(e) {
            doResize ( tabs, "recents" );
        }, this );
        doResize ( tabs, "recents" );      
     
     
    });
</script>

</head>

<body>


<div class="box heading" py:if="not tg.identity and welcome_message">
    <h2>${welcome_message}</h2>
</div>

<div class="box randomimage" py:if="not tg.identity and imageurl">
    <a href="${imageurl}">Current random image</a>
</div>

<div class="box exploreimages" py:if="not tg.identity">
  	<a href="browser"><img src="${tg.url('/client_service/public/images/browse_80.png')}" alt="Enter Public Image Collection!" border="0" /></a>
    <h3><a href="browser">Explore images</a></h3>  	
</div>


<div class="box tags" id="tags" py:if="not tg.identity">

</div>


<div class="box stats" id="stats">
</div>


<div class="box activity" id="activity">
    <span py:if="tg.identity"><h3>My recent stuff</h3></span>
    <span py:if="not tg.identity"><h3>Applications</h3></span>        
    <div id="recents" class="contents" style="height: 90%;" ></div>
</div>


</body>
</html>
