/*-------------------------------------------------------*/
.imagebrowser_divMain {
	/*width: 98%;*/
  margin: 0px 10px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: Verdana;
	border: 0px solid black;
	-moz-user-select: none;
  
}
/*-------------------------------------------------------*/
.imagebrowser_divHeader {
	font-size: 1em;
	/*width: 100%;*/
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #E4E4E4;
	border:1px solid #999999;
	height: 40px;
}
.imagebrowser_divBody {
	/*
	height: 350px;
*/
	/*width: 100%;*/
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border:0px solid black;
	-moz-user-select: none;
  
}
/*-------------------------------------------------------*/
.imagebrowser_divHeader div.divH{
	height: 20px;
	margin: 5px 0px 5px 5px;
	padding: 5px 5px 5px 5px;
	float: left;
	border-right:1px solid #666666;
}
.imagebrowser_divHeader div.divHr{
	height: 20px;
	margin: 5px 0px 5px 5px;
	padding: 5px 5px 5px 5px;
	float: right;
	border-left:1px solid #666666;
}
.imagebrowser_divHeader a{
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 0.8em;
}
.imagebrowser_divHeader p{
    margin: 0px 0px 0px 0px;
	padding: 3px 0px 3px 0px;
  	font-size: 1.0em;
}
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
