/*---------------------------------------------------------
	styles for Modules
---------------------------------------------------------*/
/*-------------------------------------------------------*/
.module_divMain{
	height: 300px;
    margin: 5px 5px 10px 0px;
	padding: 0px 0px 0px 0px;
	font-family: Verdana;
/*
	border:1px solid black;
*/
}
.module_divMenu{
    float: left;
    clear:right;
    height: 100%;
  	width: 20%;
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border:1px solid black;
    overflow: auto;
    overflow-x: hidden;
}
.module_divModule{
    float: left;
    clear:right;
   	height: 100%;
  	width: 50%;
  	border:1px solid black;
/*
    margin-left: auto;
    margin-right: auto;
*/
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    overflow: auto;
    overflow-x: hidden;
}
.module_divHelp{
    float: left;
    clear:right;
  	height: 100%;
  	width: 29%;
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
  	border:1px solid black;
    overflow: auto;
/*
overflow-x: hidden;overflow-y:scroll;overflow:-moz-scrollbars-vertical !important;
*/
}
/*-------------------------------------------------------*/
.module_divMain h3 {
	margin: 0px 0px 5px 0px;
	padding: 5px 0px 5px 5px;
  	font-size: 100%;
	font-weight: bold;
    background-color: #E4E4E4;
 }
/*-------------------------------------------------------*/
.module_divMenu ul{
  	font-size: 80%;
	margin: 0px;
    padding: 0;
    list-style: none;
}
.module_divMenu li.header {
	font-weight: bold;
    background-color: #808080;
    color: white;
	padding: 3px 0px 3px 0px;
/*
    padding: 1px 0px 1px 1px;
*/
}
.module_divMenu li{
    border-bottom: 1px solid #FF9900;
	padding: 3px 0px 3px 10px;
}
.module_divMenu li a:hover {
    display: block;
    background-color: #EEF1ED;
    text-decoration: none;
}
.module_divMenu  li.selected{
    background-color: #FFFF99;
}
/*-------------------------------------------------------*/
.module_divHelp p {
	margin: 0px 5px 0px 5px;
	padding: 5px 0px 0px 5px;
  	font-size: 70%;
    text-align: justify;
}
.module_divHelp p.header {
	margin: 5px 5px 5px 5px;
	padding: 5px 0px 0px 5px;
  	font-size: 70%;
	font-weight: bold;
    text-align: justify;
}
.module_divHelp img {
/*    align: center; */
}
.module_divHelp ul{
  	font-size: 70%;
	margin: 0px 0px 0px 50px;
	padding: 0px 0px 0px 0px;
}
.module_divHelp ol{
  	font-size: 70%;
	margin: 0px 0px 0px 50px;
	padding: 0px 0px 0px 0px;
}
/*-------------------------------------------------------*/
.module_divModule input{
	margin: 5px 0px 0px 5px;
	padding: 0px 5px 0px 0px;
    text-align: right;
}
.module_divModule p.input_pN {
	margin: 0px 0px 0px 10px;
	padding: 1px 5px 1px 0px;
  	font-size: 85%;
    text-align: justify;
}
.module_divModule p.input_pI {
	margin: 0px 0px 0px 5px;
	padding: 1px 0px 1px 0px;
  	font-size: 85%;
    text-align: justify;
}
.module_divModule input.button {
	margin: 5px 0px 5px 10px;
	padding: 5px 5px 5px 5px;
  	font-size: 85%;
	font-weight: bold;
    color: black;
    background-color: #EEF1ED;
    border:1px solid black;
    height:30px;
    text-align:center;
    width:100px;
	position:relative;
}
.module_divModule div.input_divN{
	margin: 0px 5px 0px 5px;
	padding: 5px 5px 5px 5px;
    border:1px solid black;
    float: left;
}
.module_divModule div.input_divI{
	margin: 5px 5px 5px 5px;
	padding: 5px 15px 5px 5px;
    border:1px solid black;
/*     float: left; */
	
}
.module_divModule div.input_divE{
	margin: 0px 5px 0px 5px;
	padding: 5px 5px 5px 5px;
    border:1px solid black;
}
.module_divModule div.input_divR{
	margin: 0px 5px 0px 5px;
/*     border:1px solid black; */
}

.module_divModule div.input_divClear{
	clear: both; 
	height:10px;
}

.module_divModule div.input_divWait{
	font-family: Verdana;
  	font-size: 85%;
}

.module_divModule select.module_selectBox {
	margin: 0px 0px 0px 5px;
}
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

.clearfix:after {
    content: "."; 
    display: block; 
    height: 2px; 
    clear: both; 
    visibility: hidden;
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

#analysis_m {
  display: block;
  position: relative;
/*   border: 1px solid #000; */
  width: 90%;
  display: none;
  float:left;
}


#analysis_m {
  float:none; 
}

#analysisBody_m {
}


/*
padding-top
padding-right
padding-bottom
padding-left
*/
