<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">
  <py:def function="header">
        <div id="header">

          <div class="topbar">
            <div class="userbox">
              <div py:if="not tg.identity">Please <a href='/auth_service/login'>login</a> or <a href='/registration'>register</a>
              </div>
              <div py:if="tg.identity">
                You are logged in as <b> ${tg.identity['repoze.who.userid']} </b> <br />
                <a href="/auth_service/logout">Logout</a> from your account.<br/>
                <a href="/registration/edit_user">Change</a> your information<br />
              </div>
              <a href="/static/help/index.html" onclick="window.open('/static/help/index.html','Bisquik Help Module','height=700, width=800,toolbar=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=yes'); return false;" >Online Help</a>
            </div>

            <span style="font-size:0.9em;margin-bottom:0px;margin-left:5px;">
              ${tg.config.get('bq.organization')} </span>
            <br />
            <span style="font-size:1.7em;line-height:0.99em; margin-left:5px;">
              <a href="/" class="black"> ${tg.config.get('bq.title')} </a> </span>
           <script type="text/javascript" >
                 BQSession.initialize_timeout('');
           </script>
          </div>
          <xi:include href="cbar.html" />
        </div>
  </py:def>
</html>