<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

<py:match path="head" once="true">
<head py:attrs="select('@*')">

    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <meta name="viewport" content="width=device-width" />
    
    <title py:with="title = list(select('title/text()'))">
    Bisque<py:if test="title">: ${title}</py:if>
    </title>  
    
    <!-- Bisque styles -->
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/bisquik_extjs_fix.css')}" />
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/bq.css')}" />
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/bq_ui_toolbar.css')}" /> 
    <link rel="stylesheet" type="text/css" href="${tg.url('/js/bq_ui_misc.css')}" />
    <link rel="stylesheet" type="text/css" href="${tg.url('/js/ResourceBrowser/ResourceBrowser.css')}" />
    <link rel="stylesheet" type="text/css" href="${tg.url('/js/ResourceTagger/Tagger.css')}" />
    <link rel="stylesheet" type="text/css" href="${tg.url('/js/DatasetBrowser/DatasetBrowser.css')}" />
    <link rel="stylesheet" type="text/css" href="${tg.url('/export_service/public/css/BQ.Export.css')}" />

    <!-- ExtJS -->
    <link rel="stylesheet" type="text/css" href="${tg.url('/extjs/resources/css/ext-all.css')}" />
    <!--
    <link rel="stylesheet" type="text/css" href="${tg.url('/extjs/resources/css/ext-all-gray.css')}"/>
    -->
    
    <!--<script type="text/javascript" src="${tg.url('/extjs/bootstrap.js')}"></script>-->
    <script type="text/javascript" src="${tg.url('/extjs/ext-all.js')}"></script>
    <py:choose>
    <py:when test="tg.config.get('bisque.js_environment', None) == 'production'">
    <script type="text/javascript" src="${tg.url('/js/bisque.min.js')}"></script>
    </py:when>
    
    <py:otherwise>
    <script type="text/javascript" src="${tg.url('/js/bq_ui_extjs_fix.js')}"></script>  
    
    <!-- Bisque JsApi - this needs cleaning and updating -->  
    <script type="text/javascript" src="${tg.url('/js/utils.js')}" ></script>  
    <script type="text/javascript" src="${tg.url('/js/bq_api.js')}" ></script>  
    <script type="text/javascript" src="${tg.url('/js/bq_ui_application.js')}" ></script>  
    <script type="text/javascript" src="${tg.url('/js/bq_ui_toolbar.js')}" ></script>  
    <script type="text/javascript" src="${tg.url('/js/bq_ui_misc.js')}"></script>  
    <script type="text/javascript" src="${tg.url('/js/date.js')}"></script> 
    <script type="text/javascript" src="${tg.url('/js/encoder.js')}"></script> 
 
    <!-- ResourceBrowser code -->
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/Browser.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/LayoutFactory.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/Organizer.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/ResourceQueue.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/DatasetManager.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/CommandBar.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/viewStateManager.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/ResourceFactory/ResourceFactory.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/ResourceFactory/ResourceImage.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/ResourceFactory/ResourceMex.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/ResourceFactory/ResourceModule.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/ResourceFactory/ResourceDataset.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/ResourceFactory/ResourceFile.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/ResourceFactory/ResourceUser.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/ResourceFactory/ResourceTemplate.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/Misc/MessageBus.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/Misc/GestureManager.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/Misc/Slider.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceBrowser/Misc/DataTip.js')}"></script>

    <!-- Share dialog files -->
    <script type="text/javascript" src="${tg.url('/js/Share/BQ.ShareDialog.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceTagger/ComboBox.js')}"></script>  
    <script type="text/javascript" src="${tg.url('/js/ResourceTagger/RowEditing.js')}"></script>    
    <script type="text/javascript" src="${tg.url('/js/ResourceTagger/Tagger.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ResourceTagger/TaggerOffline.js')}"></script> 
    <script type="text/javascript" src="${tg.url('/js/ResourceTagger/ResourceRenderers/BaseRenderer.js')}"></script>

    <!-- Preferences -->
    <script type="text/javascript" src="${tg.url('/js/Preferences/BQ.Preferences.js')}" ></script>
    <script type="text/javascript" src="${tg.url('/js/Preferences/PreferenceViewer.js')}" ></script>
    <script type="text/javascript" src="${tg.url('/js/Preferences/PreferenceTagger.js')}" ></script>
 
    <!-- DatasetBrowser -->
    <script type="text/javascript" src="${tg.url('/js/DatasetBrowser/DatasetBrowser.js')}"></script>

    <!-- TemplateManager -->
    <script type="text/javascript" src="${tg.url('/js/TemplateManager/TemplateTagger.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/TemplateManager/TemplateManager.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/TemplateManager/TagRenderer.js')}"></script>

    <!-- Exporter -->
    <script type="text/javascript" src="${tg.url('/export_service/public/js/BQ.Export.js')}"></script>
    </py:otherwise>
    </py:choose>
    <!-- Configuration variables   -->  
    <script type="text/javascript" > 
        // update the configuration in your template
        bq = Ext.create('BQ', {
          title : "${tg.config.get('bisque.title', 'CBI Repository')}",
          root  : "${tg.url('/')}",
        });
    </script>

    <!-- Derived template configuration includes   -->  
    ${select('*[@id="config" and local-name()="script"]')}

    <!-- Bisque Application instantiation   -->   
    <script type="text/javascript" > 
        Ext.onReady( function(){ 
            BQApp = Ext.create('BQ.Application', bq); 
        });
    </script>  

    <!-- Derived template includes   -->  
    ${select('*[local-name()!="title" and not(@id="config" and local-name()="script")]')}
  
    <script type="text/javascript" py:if="tg.flash" > 
        Ext.onReady( function(){ 
            BQ.ui.popup( '${tg.flash_obj.status}', '${tg.flash_obj.message}' );
        });
    </script>
  
    <script type="text/javascript" py:if="tg.config.get('server.environment', None) == 'development'" > 
        Ext.onReady( function(){     
            BQ.ui.warning( 'This a test environment, all your data may be lost!' );
        });
    </script>
  
</head>
</py:match>


<py:match path="body" once="true">

<body py:attrs="select('@*')">
	<div id="content" class="content" >
    ${select('*|text()')} 
  </div> 
</body>
</py:match>

</html>
