<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

<py:match path="head" once="true">
<head py:attrs="select('@*')">

    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <meta name = "viewport" content="width=900, maximum-scale=1" />
    
    <title py:with="title = list(select('title/text()'))">
    Bisque<py:if test="title">: ${title}</py:if>
    </title>  
    
    <!-- Bisque styles -->
    <link rel="stylesheet" type="text/css" href="${tg.url('/extjs/resources/css/ext-all.css')}" />


    ${h.stylesheet_link (
    '/css/bq.css',
    '/css/bq_ui_toolbar.css',
    '/js/bq_ui_misc.css',
    '/js/ResourceBrowser/ResourceBrowser.css', 
    '/js/ResourceTagger/Tagger.css', 
    '/js/DatasetBrowser/DatasetBrowser.css', 
    {'file' : '/export_service/public/css/BQ.Export.css', 'path' : h.file_root() + 'bqserver/bq'},
    '/css/bisquik_extjs_fix.css',
    # combined will not work for now due to relative urls in .css files
    #fs_root=h.file_public(),
    #combined='/css/b.css'
    )}

    <!-- ExtJS -->
    <!--
    <link rel="stylesheet" type="text/css" href="${tg.url('/extjs/resources/css/ext-all-gray.css')}"/>
    -->
    
    <!--<script type="text/javascript" src="${tg.url('/extjs/bootstrap.js')}"></script>-->


    
    <script py:if="tg.config.get('bisque.js_environment', None) == 'production'" type="text/javascript" src="${tg.url('/extjs/ext-all.js')}"></script>
    <script py:if="tg.config.get('bisque.js_environment', None) != 'production'" type="text/javascript" src="${tg.url('/extjs/ext-all-debug.js')}"></script>

    <?python
       if tg.config.get('bisque.js_environment', None) == 'production':
          link_kw = dict (fs_root = h.file_public(),
                          combined= '/js/b.js',
                          minify= 'minify')
      else:
          link_kw = {}
    ?>
    

    ${h.javascript_link(
    '/js/bq_ui_extjs_fix.js', 
    # --Bisque JsApi - this needs cleaning and updating--
    '/js/utils.js',
    '/js/bq_api.js',
    '/js/bq_ui_application.js',
    '/js/bq_ui_toolbar.js',
    '/js/bq_ui_misc.js',
    '/js/date.js',
    '/js/encoder.js',
    # -- ResourceBrowser code --
    '/js/ResourceBrowser/Browser.js',
    '/js/ResourceBrowser/LayoutFactory.js',
    '/js/ResourceBrowser/Organizer.js',
    '/js/ResourceBrowser/ResourceQueue.js',
    '/js/ResourceBrowser/DatasetManager.js',
    '/js/ResourceBrowser/CommandBar.js',
    '/js/ResourceBrowser/viewStateManager.js',
    '/js/ResourceBrowser/OperationBar.js',
    '/js/ResourceBrowser/ResourceFactory/ResourceFactory.js',
    '/js/ResourceBrowser/ResourceFactory/ResourceImage.js',
    '/js/ResourceBrowser/ResourceFactory/ResourceMex.js',
    '/js/ResourceBrowser/ResourceFactory/ResourceModule.js',
    '/js/ResourceBrowser/ResourceFactory/ResourceDataset.js',
    '/js/ResourceBrowser/ResourceFactory/ResourceFile.js',
    '/js/ResourceBrowser/ResourceFactory/ResourceUser.js',
    '/js/ResourceBrowser/ResourceFactory/ResourceTemplate.js',
    '/js/ResourceBrowser/Misc/MessageBus.js',
    '/js/ResourceBrowser/Misc/Slider.js',
    '/js/ResourceBrowser/Misc/DataTip.js',

    # -- Gesture manager --
    '/js/senchatouch/sencha-touch-gestures.js',
    '/js/ResourceBrowser/Misc/GestureManager.js',

    # -- Share dialog files --
    '/js/Share/BQ.ShareDialog.js',
    '/js/Share/BQ.ShareDialog.Offline.js',
    '/js/ResourceTagger/ComboBox.js',  
    '/js/ResourceTagger/RowEditing.js',    
    '/js/ResourceTagger/Tagger.js',
    '/js/ResourceTagger/TaggerOffline.js', 
    '/js/ResourceTagger/ResourceRenderers/BaseRenderer.js',
    # -- Preferences --
    '/js/Preferences/BQ.Preferences.js',
    '/js/Preferences/PreferenceViewer.js',
    '/js/Preferences/PreferenceTagger.js',
    #-- DatasetBrowser --
    '/js/DatasetBrowser/DatasetBrowser.js',
    # -- TemplateManager --
    '/js/TemplateManager/TemplateTagger.js',
    '/js/TemplateManager/TemplateManager.js',
    '/js/TemplateManager/TagRenderer.js',

    # -- Exporter --
    {'file': '/export_service/public/js/BQ.Export.js', 'path': h.file_root() + 'bqserver/bq/'},

    # -- Directory Browser --
    '/js/TagBrowser/TagBrowser.js',
    **link_kw
    )}

    
    <!-- Configuration variables   -->  
    <script type="text/javascript" > 
        // update the configuration in your template
        bq = Ext.create('BQ', {
          title : "${tg.config.get('bisque.title', 'CBI Repository')}",
          root  : "${tg.url('/')}",
        });
    </script>

    <!-- Derived template configuration includes   -->  
    ${select('*[@id="config" and local-name()="script"]')}

    <!-- Bisque Application instantiation   -->   
    <script type="text/javascript" > 
        Ext.onReady( function(){ 
            BQApp = Ext.create('BQ.Application', bq); 
        });
    </script>  

    <!-- Derived template includes   -->  
    ${select('*[local-name()!="title" and not(@id="config" and local-name()="script")]')}
  
    <script type="text/javascript" py:if="tg.flash" > 
        Ext.onReady( function(){ 
            BQ.ui.popup( '${tg.flash_obj.status}', '${tg.flash_obj.message}' );
        });
    </script>
  
    <script type="text/javascript" py:if="tg.config.get('bisque.environment', None) == 'development'" > 
        Ext.onReady( function() {     
            //BQ.ui.warning( 'This a test environment, all your data may be lost!' );
        });     
    </script>
  
</head>
</py:match>


<py:match path="body" once="true">

<body py:attrs="select('@*')">
	<div id="content" class="content" >
    ${select('*|text()')} 
  </div> 


 <xi:include href="tracking.html" py:if="asbool(tg.config.get('bisque.tracking'))" />
</body>
</py:match>

</html>
