/* CSS settings for resource tagger */
.icon-tag {
	background-image: url('../ResourceTagger/Images/tag.png') !important;
}

.icon-folder {
	background-image: url('../ResourceTagger/Images/folder.gif') !important;
}

.icon-grid {
	background-image: url('../ResourceTagger/Images/grid.png') !important;
}

.icon-add {
	background-image: url('../ResourceTagger/Images/add.png') !important;
}

.icon-delete {
	background-image: url('../ResourceTagger/Images/delete.gif') !important;
}

.icon-refresh {
    background-image: url('../ResourceTagger/Images/refresh.png') !important;
}

.icon-refresh {
    background-image: url('../ResourceTagger/Images/refresh.png') !important;
}

.icon-save {
	background-image: url('../ResourceTagger/Images/save.png') !important;
}

.icon-check {
    background-image: url('../ResourceTagger/Images/check.png') !important;
}

.icon-uncheck {
    background-image: url('../ResourceTagger/Images/uncheck.png') !important;
}

.icon-import {
    background-image: url('../ResourceTagger/Images/import.png') !important;
}

.icon-export {
    background-image: url('../ResourceTagger/Images/export.png') !important;
}


.icon-add-large {
    background-image: url('../ResourceTagger/Images/add.png') !important;
}

.icon-delete-large {
    background-image: url('../ResourceTagger/Images/delete.gif') !important;
}

.icon-save-large {
    background-image: url('../ResourceTagger/Images/save.png') !important;
}



.editGrid {
	color: #444;
	font-size: 11px;
}

.x-grid-row-checker {
	margin-left: 5px;
	margin-top: 2px;
}


/* This is to block the tag name validation message box, since there's no way to configure this
*/
.x-grid-row-editor-errors {
    display: none;  
}