/* CSS settings for resource tagger */
.tab-arrow {
    width: 11px !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    background-color: transparent !important;
    background-image: none !important;
    border-color: transparent !important;
}

.tab-add {
    width: 24px !important;
}

.icon-tag {
    background-image: url('../ResourceTagger/Images/tag.png') !important;
}

.icon-tab-add {
    background-image: url('../ResourceTagger/Images/add.png') !important;
    left: -6px !important;
}

.icon-arrow {
    background-image: url('../ResourceTagger/Images/arrow.png') !important;
    left: -12px !important;
    opacity: 1 !important;
}

.icon-folder {
    background-image: url('../ResourceTagger/Images/folder.gif') !important;
}

.icon-file {
    background-image: url('../ResourceTagger/Images/file.png') !important;
}

.icon-grid {
    background-image: url('../ResourceTagger/Images/grid.png') !important;
}

.icon-add {
    background-image: url('../ResourceTagger/Images/add.png') !important;
}

.icon-delete {
    background-image: url('../ResourceTagger/Images/delete.gif') !important;
}

.icon-refresh {
    background-image: url('../ResourceTagger/Images/refresh.png') !important;
}

.icon-save {
    background-image: url('../ResourceTagger/Images/save.png') !important;
}

.icon-check {
    background-image: url('../ResourceTagger/Images/check.png') !important;
}

.icon-uncheck {
    background-image: url('../ResourceTagger/Images/uncheck.png') !important;
}

.icon-import {
    background-image: url('../ResourceTagger/Images/import.png') !important;
}

.icon-export {
    background-image: url('../ResourceTagger/Images/export.png') !important;
}

.icon-add-large {
    background-image: url('../ResourceTagger/Images/add.png') !important;
}

.icon-delete-large {
    background-image: url('../ResourceTagger/Images/delete.gif') !important;
}

.icon-save-large {
    background-image: url('../ResourceTagger/Images/save.png') !important;
}

.editGrid {
    color: #444;
    font-size: 11px;
}

.x-grid-row-checker {
    margin-left: 5px;
    margin-top: 2px;
}

/* This is to block the tag name validation message box, since there's no way to configure this
 */
.x-grid-row-editor-errors {
    display: none;
}

.bq-row-gob-custom {
    color: #00AA00;
}

.bq_tagger_progress {
    text-align: right;
    padding: 0px 20px 0px 0px !important;
}

.bq_inprogress {
    background-image: url('/images/progress_circles.gif') !important;
    background-size: 15px 15px;
    background-position: right center;
    background-repeat: no-repeat;
}

.bq-gob-tagger .x-grid-tree-loading .x-tree-elbow-img {
    background-image: url('/images/progress_circles.gif') !important;
    background-size: 12px 12px;
    background-position: left center;
    background-repeat: no-repeat;
}

.bq-gob-tagger .icon-navigate {
    background-image: url('../ResourceTagger/Images/compass.png') !important;
    background-size: 15px 15px;
    background-position: left center;
    background-repeat: no-repeat;
}

.bq-gob-tagger .icon-select {
    background-image: url('../ResourceTagger/Images/select.png') !important;
    background-size: 15px 15px;
    background-position: left center;
    background-repeat: no-repeat;
}

.bq-gob-tagger .x-btn-toolbar .x-btn-inner {
    padding-left: 20px !important;
}
